@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
    background: rgb(15,15,15);
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(19,18,18,1) 100%);
    color: #FFF5EA
}

.modal-bg-original {
    outline: 3px solid #F21343;
    background: rgb(15,15,15);
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(19,18,18,1) 100%);
    color: #FFF5EA
}